################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RestaurantManagementSystem/appsettings.json
/RestaurantManagementSystem/appsettings.json
